.about-me-section{
    padding-top: 250px;
    height: 800px;
}

.about-me-description{
    float: right;
    width: 50%;
    padding-right: 10%;
}

.title-upper, .title-lower{
    font-size: 44px;
    font-style: italic;
}

.title-lower{
    float: right;
    padding-top: 24px;
}

.description{
    clear: both;
    font-size: 20px;
    line-height: 40px;
}

.first-description{
    padding: 60px 0 32px 0;
}
