.about-me-section {
    padding-top: 16px;
    height: 600px;
    @include angle-before(-4deg, 35%, -2%, $white);
    @include angle-after(4deg, 35%, -2%, $white);
}

.about-me-section:before {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.3);
}

.about-me-section:after {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.about-me-description {
    width: 70%;
    margin: 0 auto;
}

.adele {
    font-size: 76px;
    text-align: center;
}

.description {
    font-size: 20px;
    line-height: 56px;
    letter-spacing: 2px;
}

.skills-wrapper {
    display: flex;
    justify-content: center;
}

.skills-container {
    width: 70%;
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    position: absolute;

    .skills-block {
        border: 1px solid $lite-grey;
        border-radius: 4px;
        width: 20%;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        position: relative;

        &.skills-block-small {
            font-size: 32px;
        }

        .skill {
            color: $red;
        }

        .skills-circle {
            border: 1px solid $red;
            border-radius: 100%;
            color: #fff;
            background-color: $red;
            position: absolute;
            right: -20px;
            top: -26px;
            width: 50px;
            height: 50px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.hidden {
        display: none;
        position: absolute;
    }
}

@media only screen and (max-width: 1100px) {
    .about-me-section {
        height: 800px;
    }

    .skills-container {
        flex-wrap: wrap;

        .skills-block {
            width: 46%;
            margin: 26px 0;
        }
    }
}


@media only screen and (max-width: 850px) {
    .about-me-section {
        height: 700px;
    }

    .about-me-description {
        width: 90%;
    }

    .adele {
        font-size: 40px;
    }

    .description {
        font-size: 16px;
        line-height: 40px;
        font-size: 18px;
    }

    .skills-container {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .about-me-section {
        height: 1100px;
    }

    .skills-container {
        margin: 30px 0;

        .skills-block {
            width: 90%;
            margin: 26px 5%;
        }
    }
}