@include keyframes(horizontal-move-down){
  	0%{@include transform(translateY(-8px))}
	50%{@include transform(translateY(0px))}
	100%{@include transform(rotate(-45deg))}
}

@include keyframes(horizontal-move-up){
  	0%{@include transform(translateY(8px))}
	50%{@include transform(translateY(0px))}
	100%{@include transform(rotate(45deg))}
}

.alternate-diminsion-section{
  background-color: #2C1B3D;
  height: 800px;
  @include angle-after(-4deg);
}

.diminsion-title{
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 300px;
}

.diminsion-title span{
  display: block;
  text-align: center;
}

.diminsion-title span:first-child{
  margin-bottom: 12px;
}

.menu-button{
	position: fixed;
	top: 48px;
	right: 0;
	width: 74px;
	height: 48px;
	float: right;
	margin-right: 134px;
  	z-index: 3;
}

.menu-button-open .horizontal-line{
  background-color: $lite-green;
}

.horizontal-line{
	background-color: $lite-green;
	width: 48%;
	height: 2px;
	position: absolute;
	margin-top: 10px;
	margin-left: 19px;
}

.horizontal-top-line{
	@include transform(translateY(-8px));
}

.horizontal-bottom-line{
	@include transform(translateY(8px));
}

.horizontal-top-line, .horizontal-middle-line, .horizontal-bottom-line{
	@include transition(all 277ms ease-in-out);
}

.menu-button:hover{
	cursor: pointer;
}

.menu-button:hover .horizontal-top-line{
	@include transform(translateY(-10px));
	background-color: $lite-green;
}

.menu-button:hover .horizontal-middle-line{
	background-color: $lite-green;
}

.menu-button:hover .horizontal-bottom-line{
	@include transform(translateY(10px));
	background-color: $lite-green;
}

.menu-button.menu-button-open .horizontal-middle-line{
	visibility: hidden;
}

.menu-button.menu-button-open .horizontal-top-line{
	@include animation(horizontal-move-down 500ms forwards);
}

.menu-button.menu-button-open .horizontal-bottom-line{
	@include animation(horizontal-move-up 500ms forwards);
}