@include keyframes(blinking-cursor) {
  0% {
    box-shadow: 1px 0 #000;
  }

  100% {
    box-shadow: 0 0 #000;
  }
}

@include keyframes(pulse-arrow) {
  0% {
    bottom: 40px;
  }

  50% {
    bottom: 60px;
  }

  to {
    bottom: 40px;
  }
}

.star-canvas {
  position: absolute;
  width: 100%;
  height: 800px;
}

.typewrite {
  color: #000;
  font-size: 60px;
  float: left;
  width: 100%;
  font-weight: bold;
  text-align: left;
}

.typewriter-container {
  text-align: center;
  overflow: hidden;
}

.wrap {
  @include animation(blinking-cursor 1200ms infinite);
  padding-right: 2px;
}







.title-section {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid red;
}

.title-overlay {
  width: 60%;
  float: left;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  display: none;
}

.title-overlay:after {
  content: '';
  position: absolute;
  background-color: #fff;
  right: -125px;
  @include transform(skewX(-16deg));
  height: 100%;
  width: 250px;
  transform-origin: 100%;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.stars-container {
  width: 100%;
  height: 100%;
  background-color: $red;
  position: absolute;
}

.title-type-container {
  position: absolute;
  width: 60%;
  text-align: center;
  top: 50%;
  @include transform (translateY(-50%));
  z-index: 2;
  margin-left: 50px;
  margin-top: -50px;
}

.pulse-arrow-container {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 60px;
  width: 60%;
  text-align: center;
  font-size: 70px;
  @include animation(pulse-arrow 2000ms ease-in-out infinite);
  color: $red;
}

.pulse-arrow-container:hover {
  color: #000;
  cursor: pointer;
}

.type-last-word {
  color: $red;
}