.divider-section{
    background-color: $purple;
    height: 300px;
    width: 100%;
    // @include angle-after(-4deg, 106px, $purple);
    // @include angle-before(4deg, 106px, $purple);
}

.divider-section:before{
    box-shadow: inset 0px 6px 10px 0px rgba(0, 0, 0, 0.50)
}


.divider-section:after{
    box-shadow: inset 0px -6px 10px 0px rgba(0, 0, 0, 0.50)
}

.divider-section canvas{
    width: 100%;
    height: 300px;
    position: absolute;
}

.divider-ufo{
    position: relative;
    width: 100px;
    height: 100px;
}

.divider-ufo path{
    fill: #fff;
}

.divider-ufo text{
    display: none;
}