.personal-skills-section {
    height: 500px;
}

.personal-skill-cntr {
    overflow: hidden;
    height: 150px;
    display: none;
}

.personal-skill-cntr .img-cntr {
    position: relative;
    float: left;
    width: 146px;
    height: 100%;
}

.blinking-dots {
    position: absolute;
    width: 146px;
}

.skills-face {
    width: 100px;
    position: absolute;
    top: 14px;
    left: 22px;
}

.personal-skill-info {
    float: left;
    margin: 24px 0 0 28px;
}

.personal-skill-info .title {
    font-size: 30px;
    margin-bottom: 4px;
}

.personal-skill-info .info {
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 300;
}

.personal-skills-canvas {
    width: 100%;
}

.personal-skills-section svg {
    width: 646px;
    height: 156px;
    position: absolute;
}

.personal-skills-wrapper {
    margin-left: 90px;
    height: 146px;
}



