@include keyframes(rotate-html){
    from{@include transform(rotate(0deg) translateX(150px) rotate(0deg))}
    to{@include transform(rotate(360deg) translateX(150px) rotate(-360deg))}
}

@include keyframes(rotate-css){
    from{@include transform(rotate(0deg) translateX(-150px) rotate(0deg))}
    to{@include transform(rotate(360deg) translateX(-150px) rotate(-360deg))}
}

@include keyframes(rotate-js){
    from{@include transform(rotate(0deg) translateY(-150px) rotate(0deg))}
    to{@include transform(rotate(360deg) translateY(-150px) rotate(-360deg))}
}

@include keyframes(rotate-java){
    from{@include transform(rotate(0deg) translateY(150px) rotate(0deg))}
    to{@include transform(rotate(360deg) translateY(150px) rotate(-360deg))}
}

@include keyframes(rotate-git){
    from{@include transform(rotate(0deg) translateX(110px) translateY(110px) rotate(0deg))}
    to{@include transform(rotate(360deg) translateX(110px) translateY(110px) rotate(-360deg))}
}

@include keyframes(rotate-linux){
    from{@include transform(rotate(0deg) translateX(110px) translateY(-110px) rotate(0deg))}
    to{@include transform(rotate(360deg) translateX(110px) translateY(-110px) rotate(-360deg))}
}

@include keyframes(rotate-primefaces){
    from{@include transform(rotate(0deg) translateX(-110px) translateY(-110px) rotate(0deg))}
    to{@include transform(rotate(360deg) translateX(-110px) translateY(-110px) rotate(-360deg))}
}

@include keyframes(rotate-sass){
    from{@include transform(rotate(0deg) translateX(-110px) translateY(110px) rotate(0deg))}
    to{@include transform(rotate(360deg) translateX(-110px) translateY(110px) rotate(-360deg))}
}

.skills-section{
    height: 800px;
    padding-top: 150px;
    @include angle-before(-4deg, 20%, -2%, $white);
    @include angle-after(4deg, 20%, -2%, $white);
    display: none;
}

.skills-section:before{
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.3);
}

.rotating-skills-container{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin-left: 20%;
    position: relative;
}

.rotating-skill{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 250px;
}

.html-skill{
    @include animation(rotate-html 50s linear infinite);
}

.css-skill{
    @include animation(rotate-css 50s linear infinite);
}

.js-skill{
    @include animation(rotate-js 50s linear infinite);
}

.java-skill{
    @include animation(rotate-java 50s linear infinite);
}

.git-skill{
    @include animation(rotate-git 50s linear infinite);
}

.linux-skill{
    @include animation(rotate-linux 50s linear infinite);
}

.primefaces-skill{
    @include animation(rotate-primefaces 50s linear infinite);
}

.sass-skill{
    @include animation(rotate-sass 50s linear infinite);
}