.slides-section {
  height: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  @include angle-before(-4deg, 200px, -100%, $white);

  &:before {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.3);
  }

  .slides-wrapper {
    @include transform(rotate(-4deg));

    .title {
      text-align: center;
      font-size: 36px;
      letter-spacing: 3px;
      font-weight: 100;
      margin-bottom: 60px;
    }
    .slides-row {
      display: flex;
      justify-content: space-evenly;

      &.border-bottom {
        border-bottom: 1px solid #e21838;
      }

      a {
        text-decoration: none;
        color: #000;
        flex-basis: 0;
        flex-grow: 1;
        padding: 26px;

        &.slide {
          text-align: center;

          &.border-right {
            border-right: 1px solid #e21838;
          }

          i {
            width: 100%;
            text-align: center;
            font-size: 64px;
            color: #e21838;
          }
          .title {
            font-size: 30px;
            letter-spacing: 4px;
            margin-top: 60px;
            font-weight: bold;
          }
          .tag {
            width: 80%;
            letter-spacing: 2px;
            margin: 12px auto;
          }
        }
      }
    }
  }
}
