@include keyframes(border-square-in) {
    0% {
        border-radius: 100%;
    }

    100% {
        border-radius: 0;
    }
}

@include keyframes(border-square-out) {
    0% {
        border-radius: 0;
    }

    100% {
        border-radius: 100%;
    }
}

.view-more-section {
    height: 100vh;
    display: flex;

    .vm-container {
        flex-grow: 1;
        flex-basis: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
        transition: 1s all;
        width: 50%;

        &:hover {
            cursor: pointer;

            .vm-inner {
                @include animation(border-square-in 500ms forwards);

                &.contact-me-inner {
                    @include animation(border-square-out 500ms forwards);
                }
            }
        }

        &.continue-exploring:hover,
        &.contact-me:hover {
            width: 60%;
        }

        .vm-inner {
            width: 360px;
            height: 360px;
            border: 6px solid $red;
            text-align: center;
            color: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            @include animation(border-square-out 500ms forwards);

            .small {
                font-size: 18px;
                margin-bottom: 8px;
                font-style: italic;
            }

            .big {
                font-size: 56px;
            }

            &.contact-me-inner {
                border: 6px solid #fff;
                @include animation(border-square-in 500ms forwards);

                .small,
                .big {
                    color: #fff;
                }
            }

            .fun-facts-wrapper {
                display: none;
                position: absolute;
            }
        }
    }

    .contact-me {
        background-color: $red;
    }
}

@media only screen and (max-width: 850px) {
    .view-more-section .vm-container {
        .vm-inner {
            width: 270px;
            height: 270px;

            .big {
                font-size: 40px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .view-more-section {
        flex-direction: column;

        .vm-container.contact-me {
            box-shadow: none;
        }
    }
}